@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


body{

    margin: 0;
    font-family: 'Montserrat','sans-serif';
    padding-left: 10px;
    padding-right: 10px;
    background: linear-gradient(180deg, #E92928 50%, #EEEFEF 50%);
}
.dot {
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
  }
 .aside{
    width: 15%;
 }
 .newBookings{
    width: 85%;
 }